.login-form-container {
  position: absolute;
  width: 1440px;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: linear-gradient(
      116.64deg,
      rgba(0, 0, 0, 0.8) 0.46%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('https://res.cloudinary.com/dzbfzovvx/image/upload/v1683978877/19edc15e3aa6b6a1301fd6667bf2509e_jevy3y.jpg');
}

.login-page-heading {
  position: absolute;
  width: 180px;
  height: 52px;
  left: 165px;
  top: 48px;
  color: #e50014;
}

@media screen and (min-width: 992px) {
  .login-page-heading {
    position: absolute;
    left: 8.89%;
    right: 63.33%;
    top: 5%;
    bottom: 90.78%;

    color: #e50014;
  }
}

.form-container {
  position: absolute;
  width: 456px;
  height: 440px;
  left: 492px;
  top: 292px;

  background: #0c0b10;
  opacity: 0.8;
  border-radius: 8px;
}

.login-heading {
  position: absolute;
  width: 78px;
  height: 40px;
  left: 681px;
  top: 356px;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  text-align: center;

  /* General/White */

  color: #ffffff;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
    background-color: #151616;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  position: absolute;
width: 65px;
height: 16px;
left: 0px;
top: 0px;

font-family: 'HK Grotesk';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.01em;
text-transform: uppercase;

color: #FFFFFF;
}

.username-input-field {
  position: absolute;
height: 40px;
left: 0%;
right: 0%;
top: 24px;

background: #333333;
border-radius: 2px;
}

.password-input-field {
  position: absolute;
height: 40px;
left: 0%;
right: 0%;
top: 24px;

background: #333333;
border-radius: 2px;
}

.login-button {
  position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: #E50914;
border-radius: 8px;
}

.error-message {
 position: absolute;
width: 205px;
height: 18px;
left: 540px;
top: 592px;

font-family: 'HK Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

/* Light / red / 600 */

color: #DC2626;
}
