.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  opacity: 1;
}
.website-logo {
  left: 11.46%;
  right: 79.17%;
  top: 31.07%;
  bottom: 31.07%;
  padding-top: 15px;
}
.profile-image {
  left: 85.21%;
  right: 11.46%;
  top: 27.18%;
  bottom: 26.21%;
}

.logo-container {
  display: flex;
  flex-direction: row;
}

.searchIcon {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin-right: 20px;
  color: #ffffff;
  margin-top: 15px;
}
.mobile-search-icon {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  color: #ffffff;
  margin: 15px;
}

.fa-bars {
  left: 84.44%;
  right: 8.89%;
  top: 3.32%;
  bottom: 93.61%;
  margin: 15px;
}

.main-heading {
  left: 11.39%;
  right: 66.94%;
  top: 16.45%;
  bottom: 78.98%;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 62px;
  /* identical to box height, or 97% */

  /* General/White */

  color: #ffffff;
  margin-left: 20px;
}

.main-para {
  left: 11.39%;
  right: 57.85%;
  top: 22.79%;
  bottom: 71.46%;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
  margin-left: 20px;
}

.movies-list {
  list-style-type: none;
}

.main-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 8px;

  width: 74px;
  height: 40px;
  margin-left: 20px;

  background: #ffffff;
  border-radius: 4px;
  border-width: 0;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.home-background {
  background-color: black;
}

.trending-heading {
  left: 11.46%;
  right: 78.26%;
  top: 48.16%;
  bottom: 49.56%;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  margin-left: 20px;

  /* General/White */

  color: #ffffff;
}

.searchButton_and_profile {
  display: flex;
  flex-direction: row;
}

.nav-content {
  display: flex;
  width: 90%;
  max-width: 1110px;
  padding: 15px 0px 25px 0px;
}

.nav-bar-mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-container {
    display: none;
  }
}

.nav-bar-large-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-content {
  padding-bottom: 15px;
  padding-top: 15px;
}

.nav-menu-item {
  left: 24.17%;
  right: 72.92%;
  top: 36.89%;
  bottom: 37.86%;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  letter-spacing: -0.355556px;
  padding: 10px;
  color: #ffffff;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.nav-bar-mobile-icons-container {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item-mobile-link {
  font-size: 24px;
  color: #ffffff;
  margin-right: 20px;
}
